.outContiner {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 8px #dedede;

  .company {
    height: 1500px;
    margin-top: 15px;
    .companyInfo {
    }
    .addInfo {
      display: flex;
      justify-content: center;
    }
    .editorDialog {
      max-width: 90%;
    }
  }
}
