.swiper_info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: #4f248f;
  .avatar {
    position: absolute;
    right: 20px;
    top: 5px;
  }
}

.name {
  // background-color: rgb(160, 95, 95);
}
.nameInfo {
  // background-color: rgb(60, 158, 193);

  padding-top: 30px;
}
.nameInfoSmall {
  // background-color: rgb(60, 158, 193);

  padding-top: 30px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.imageBlog {
  width: 40%;
}

.text {
  // background-color: aqua;
  padding: 20px;

  max-height: 100px;
  line-height: 20px;
  word-break: break-all;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 6;
  -moz-line-clamp: 6;
  -ms-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
}

.image {
  width: 100%;

  border: 1px solid rgb(225, 220, 220);
}
.jobInfoButton {
  background-color: aliceblue;
  display: block;
  text-align: center;
  margin: 5px;
  button {
    margin: 5px;
  }
}
.slide {
  background-color: #f6f1f3;
  // background-color: red;
  height: 100%;
}

.swiperMain {
  border: 1px solid rgb(225, 220, 220);
  padding: 40px;
  // background-color: palevioletred;
  width: 1200px;
}

.swiper {
  width: 840px;
}

.dots {
  display: none;
}

:root {
  --swiper-navigation-size: 30px;
}

.span {
  color: #46af3a;
  font-size: 14px;
}
.spanSmall {
  color: #46af3a;
  font-size: 12px;
}
