.mainContent {
  background-color: #fff;
  margin-top: 15px;

  .contentHotJobs {
    background-color: #fff;
  }
  .contentNavbar {
    background-color: #fff;
    font-size: 14px;
  }
  .navbarCheckboxes {
    display: flex;
    padding: 15px;
    .navbarCheckbox {
      display: flex;
      align-items: center;
      color: #46af3a;
      cursor: pointer;
      input {
        border: 1px solid #46af3a;
        height: 22px;
        width: 22px;
        margin-left: 4px;
        cursor: pointer;
        &:active {
          background-color: #46af3a;
        }
      }
      img {
        background-color: white;
        padding: 5px;
        width: 40px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
  .navbarButtons {
    display: flex;
    justify-content: start;

    gap: 5px;
    padding: 15px;
  }
  .jobsColections {
    box-sizing: border-box;
    width: 100%;

    padding: 15px;
    position: relative;
    .jobInfo {
      background-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid;
      border-color: #46af3a;
      border-left-width: 3px;
      min-height: 100px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: start;

      &:hover {
        background-color: rgb(245, 241, 241);
      }
      .jobInfoTitleBlocks {
        font-size: 13px;
        display: flex;
        padding: 10px;
        width: 30%;
        min-height: 100px;
        flex-flow: column nowrap;
        justify-content: space-around;
        color: #333;
        h4 {
          font-weight: 700;
        }
        .jobInfoTitle {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 5px;
        }
      }

      .jobInfoButton {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        color: #333;
        button {
          margin-left: 10px;
        }
      }
      img {
        background-color: white;
        width: 100px;
        object-fit: cover;
      }
    }
  }
}
