.search_section {
  background: linear-gradient(170deg, #46af3a 30%, #407bff) no-repeat;
  width: 100%;
  max-height: 544px;
}
.text {
  padding-top: 70px;

  text-align: center;

  color: #fff;
  padding-bottom: 25px;
}
.text_h1 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 18px;
}
.text_p {
  font-size: 20px;
  padding: 2px;
}

.search_clearfix {
  max-width: 770px;
  max-height: 97px;
  padding: 10px;
  margin: 0 auto 56px;
}

.label {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  padding-left: 50px;
}
.label input {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  cursor: pointer;
  right: 2px;
}
.iratio {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  min-width: 22px;
  min-height: 22px;
}

.wrapper {
  padding-top: 10px;
  padding-right: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.fields {
  padding: 1.5px;
  text-align: center;
}
.fields input {
  height: 55px;
  border: solid 1px #f2f2f2;
  text-align: center;
}
.fields select {
  height: 55px;
  width: 174px;
  border: solid 1px #f2f2f2;
  text-align: center;
  -webkit-appearance: none;
  color: grey;
}
.searchbtn {
  height: 55px;
  width: 174px;
}
:active,
:hover,
:focus {
  outline-color: #b7e5f7;
}
.hotjobs {
  color: #46af3a;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin: 55px 0 40px;
  text-transform: uppercase;
}
