.btn__block{
    display: flex;
    justify-content: center;
}

.loginBtn{
    background-color: #46af3a;
    margin: 12px 0 12px;
    color: #fff;
    border: 1px solid #46af3a;
    border-radius: 0;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: normal;
    cursor: pointer;
}