* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.active-link {
  font-weight: bold;
  color: green;
  text-decoration: none;
}
.not-Active {
  color: rgba(0, 0, 0,.5);
  font-weight: bold;
  text-decoration: none;
}

.carousel-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.carousel-card {
  max-width: 380px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  margin-bottom: 15px;
}
.carousel-wrapper button {
  display: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
