// .outContiner {
//   background-color: #ddd;
//   justify-content: center;
// }
.jobs {
  width: 100%;
  display: flex;
  background-color: #ddd;
}

.sidebar {
  background-color: transparent;
  flex: 1;
}

.content {
  flex: 3;
}
